@import "~bootstrap/scss/bootstrap.scss";

.box{
    margin-left: 35rem;
    margin-top: 5rem;
}

.titleStyle{
    background-color: rgb(255, 232, 210);
    width: 20rem;
    margin-left: 2.5rem;
    margin-bottom: 0;

    border-bottom:1px lightgray solid;
    text-align: center;
}



textarea:focus, input:focus{
    outline: none;
}

.inputStyle{
    margin-left: 2.5rem;
    border: none;
    background-color: rgb(255, 232, 210);
    border-bottom: rgb(41, 41, 41) 2px solid;
    width: 20rem;
}

::-webkit-input-placeholder {
    text-align: center;
 }
 

.listStyle{
    list-style: none;
    background-color: rgb(255, 232, 210);
    border-bottom: lightgray 1px solid;
    width: 20rem;
    height: 3rem;
    padding-left: 1rem;
    margin-left: 2.5rem;
}

.placeHolderStyle{
    background-color: rgb(255, 232, 210);
    border: 2px solid rgb(41,41,41);
    width: 20rem;
    height: 2rem;
    margin-left: 1.5rem;
    text-align: center;
}

.buttonStyle{
    display: flex;
   justify-self: end;
   color: rgb(187, 187, 187);
   
}

.buttonStyle:hover{
    color: black;
    transition: all .3s;
}

select, input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.checkBoxStyle{
    color: rgb(118, 118, 118);
}

.checkBoxStyle:hover{
    color: rgb(0, 0, 0);
    transition: all .3s;
}

